// COLORS

$black: black;
$lilac: #4A4F5D;
$pink: pink;
$white: white;

// FONTS
$font-principal: 'Mukta', sans-serif;
$font-titular: 'Allerta Stencil', sans-serif;

// BREAKPOINTS
$breakpoint-mobile: 575px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 960px;
$breakpoint-smdesktop: 1280px;
$breakpoint-desktop: 1440px;