header {

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bg-menu__container {
  list-style: none;
  
  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }
}

.bg-menu__link {
  color: $black;
  font-weight: 700;
  text-decoration: none;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.375rem;
  }
}